name: Build Mac App
on: [push]

jobs:
  build:
    # Changed to macos-14 (Intel runner)
    runs-on: macos-14  
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Build with PyInstaller
        run: |
          # Keep the name consistent
          pyinstaller --noconsole --onefile --name "AttendanceReport" main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Intel-Mac-Attendance-App
          path: dist/AttendanceReport
