name: Build Intel Mac App
on: [push]

jobs:
  build:
    runs-on: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install py2app  # Kartais padeda Intel kompiliavimui

      - name: Build with PyInstaller (FORCED INTEL)
        run: |
          # Pridedam --target-arch x86_64, kad būtų grynai Intelis
          pyinstaller --noconsole --onefile --target-arch x86_64 --name "AttendanceReport" main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PURE-INTEL-AttendanceReport
          path: dist/AttendanceReport
